*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
     font-family: 'Inter', sans-serif;
}


.top{
    text-align: center;
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    color: var(--green);
} 


.goal{
    font-family: Inter;
    font-size: 36px;
    font-weight: 700;
    line-height: 54px;
    letter-spacing: -0.011em;
    text-align: left;
    margin-left: 45px;
    color: var(--black)
    
    }

    .about{
        font-family: Inter;
        font-size: 24px;
        font-weight: 500;
        line-height: 36px;
        letter-spacing: -0.011em;
        text-align: left;
        margin-top: 10px;
        margin-left: 45px;
        color: var(--black)
        }

        .team{
            font-family: Inter;
            font-size: 36px;
            font-weight: 700;
            line-height: 54px;
            letter-spacing: -0.011em;
            text-align: left;
            margin-top: 25px;
            margin-left: 45px;
            color: var(--black)
            
            }

        .teamtext{
            font-family: Inter;
            font-size: 24px;
            font-weight: 500;
            line-height: 36px;
            letter-spacing: -0.011em;
            text-align: left;
            margin-top: 10px;
            color: var(--black)
            }

           