body{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

h1{
    margin-top: 70px;
    text-align: center;
    color: var(--green);
}

.content {
position: absolute;
width: 1200px;
height: 1872px;
left: 119px;
margin-top: 15px;
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 150%;
display: flex;
align-items: center;
letter-spacing: -0.011em;
color: #1A1A1A;

}